<html>
<head>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <title>WebJars Demo</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container"><br/>
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        Hello, <strong>WebJars!</strong>
    </div>
    <input id="corsBtn" class="btn btn-button btn-info" type="button" value="cors callback">
    <div id="callback"></div>
</div>
</body>
<script src="/js/cors.js"></script>
</html> 